h1 {
    color: white;
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}

h1 .h1color {
    color: #DA0037;
    letter-spacing: 2px;
}

h2{
    color: #DA0037;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h3{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}

p {
    color: white;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.heading {
    background-color: #161616;
    outline: 8px solid #EDEDED;
    padding-bottom: 20px;
    padding-top: 10px;
}

body{
    background-color: #161616;
}

.button{
    margin-top: 50px;
}

.fa {
    border: solid white;
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
  }

.fa-facebook {
    background: transparent;
    color: white;
}

.fa-github {
    background: transparent;
    color: white;
}

.fa-instagram {
    background: transparent;
    color: white;
}
.fa-envelope{
    background: transparent;
    color: white;
}
.fa-envelope:hover  {
    background: white;
    color: black;
}

.fa-facebook:hover  {
    background: white;
    color: black;
}

.fa-github:hover  {
    background: white;
    color: black;
}

.fa-instagram:hover  {
    background: white;
    color: black;
}

.intro {
    display:block;
    position:absolute;
    width: 30%;
    text-align: start;
    margin-top: 100px;
    margin-left: 5%;
}

.image {
    position: absolute;
    left: 550px;
    margin-top: 100px;
}

.personal-info {
    display:block;
    position: absolute;
    width: 400px;
    left: 1000px;
    margin-top: 100px;
}